@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Josefin+Sans:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Roboto:wght@300;400;500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');


/* Resetando margin e padding de todos os elementos da pagina */
*{
    margin: 0;
    padding: 0;
}
/* Fechado */

header{
    width: 100%;
    height: 100vh; /* 100vh evita que a imagem fique cortada de acordo com o rolamento da barra*/
    overflow: hidden; /* evita rolagem da pagina*/
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden; /* evita rolagem da pagina*/
    background-color: rgba(0,0,0,0.8); /*propriedade para opacidade no BG*/
}

.img-wrapper img{ /* o comando img seleciona as imagens que estão dentro da class"img-erapper"*/
    width: 100%;
    height: 100%;
    object-fit: cover; /* serve para que a imagem cubra a div ou tela*/
    opacity: 0.5;
    animation: zoom 15s;
    animation-iteration-count: infinite; /*fazer animação se repetir infinitamente*/
}

@keyframes zoom{ /* animação da imagem do top da pag*/
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #fff;
    font-size: 3.5rem; /*tamanho de fonte proporcional =16px*/
    font-family: "Baloo 2", serif; /* copie a fonte do import, o serif é um comando de fonte padrao caso o site saia do ar*/
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0,0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0; /*opacidade da animação*/
    animation: moveBanner 1.5s 0.9 forwards;
}

@keyframes moveBanner{ /*animação do h1 do topo da pagina */
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner p{
    font-family: "Josefin Sans", serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0,0,0, .4);
    opacity: 0; /*opacidade da animação*/
    animation: moveBanner 2.5s 0.8 forwards;
}

.banner button{
    font-family: "Mulish", serif; 
    color: #fff;
    text-transform: uppercase; /*serve para deixar as letras em MAIUSCULO*/
    letter-spacing: .1rem; /*serve para espaço entre as letras*/
    background: #7F00FF; /*para uma cor degrade usar o site https://uigradients.com/#ByDesign */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    background: linear-gradient(to right, #E100FF, #7F00FF);
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /*opacidade da animação*/
    animation: moveBanner 3s 0.6 forwards;
}

.banner button:hover{ /*hover do botão saiba mais*/
    opacity: 0.8;
    color: rgb(0, 0, 0);
}


